* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #595959;
  --light-color: #d9d9d9;
  --container-width: 1300px;
  --font-color: #000;
  --accent-color: #ba68c8;
  --accent-light-color: #e97deb;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 60px 0;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 81.02px;
  text-align: center;
  color: var(--font-color);
  margin-bottom: 50px;
}

h3 {
  font-family: "Overpass", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50.64px;
  text-align: left;
}

h4 {
  font-family: "Overpass", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40.51px;
}

section {
  margin-bottom: 200px;
}

.text {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.58px;
  color: var(--font-color);
}

.header .header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}

.header .logo {
  margin-right: 15px;
}

.header .header__link {
  color: var(--font-color);
  text-decoration: none;
  margin-left: 35px;
}

.button {
  padding: 14px 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
}

.header .button {
  margin-left: auto;
}

.promo {
  padding-top: 100px;
  color: var(--font-color);
}

.promo .promo__title {
  font-family: "Overpass", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 88px;
  margin-bottom: 37px;
}

.promo .promo__description {
  width: 350px;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.98px;
  margin-bottom: 77px;
}

.promo .button {
  padding: 25px 105px;
  background-color: var(--tertiary-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 25.32px;
}

.promo .promo__wrapper {
  display: flex;
  justify-content: space-between;
}

.promo .promo__img {
  width: 600px;
  flex-shrink: 0;
}

.promo .promo__img img {
  width: 100%;
}

.employee .employee-slider {
  height: 500px;
  padding-bottom: 20px;
}

.about-item {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px;
}

.about-item .about-item__image {
  margin-left: 50px;
  text-align: center;
}

.about-item .about-item__image .text {
  margin-top: 10px;
}

.about-item_r .about-item__image {
  margin-left: 0;
  margin-right: 50px;
}

.about-item .about-item__content {
  padding-top: 20px;
}

.swiper-wrapper {
  height: 100%;
}

.card {
  height: 100%;
  width: 285px;
  background-color: var(--light-color);
  padding: 16px 17px;
}

.card .card__avatar {
  width: 250px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 62px;
}

.card .card__avatar img {
  width: 100%;
}

.card .card__name {
  font-family: "Overpass", sans-serif;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  color: var(--font-color);
  margin-bottom: 15px;
}

.card .card__role {
  font-size: 24px;
  font-weight: 400;
  line-height: 27.58px;
  text-align: center;
  color: var(--font-color);
  padding: 0 20px;
}

/* Для слайдера */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--secondary-color);
}

.employee .swiper .swiper-scrollbar {
  bottom: 5px;
}

.timeline {
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 4px 1fr;
  color: var(--font-color);
}

.timeline .timeline__component {
  margin: 0 65px 20px 65px;
}

.timeline .timeline__component h4 {
  margin-bottom: 14px;
}

.timeline .timeline__line {
  position: relative;
  background-color: var(--secondary-color);
}

.timeline .timeline__line:last-child {
  background-color: #fff;
}

.timeline .timeline__circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--secondary-color);
  width: 30px;
  height: 30px;
}

.timeline .timeline__circle_bottom {
  top: unset;
  bottom: 0;
  transform: translate(-50%, 100%);
}

.timeline .timeline__image {
  width: 350px;
}

.timeline .timeline__image img {
  width: 100%;
}

.timeline .timeline__content ul {
  list-style-position: inside;
  padding-left: 10px;
}

.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}

.opportunity .opp__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.opportunity .opp__item {
  width: 300px;
  text-align: center;
}

.opportunity .opp__item .opp__img {
  width: 100%;
  margin-bottom: 40px;
}

.opportunity .opp__item .opp__img img {
  width: 100%;
}

.opportunity .opp__item h3 {
  text-align: center;
  margin-bottom: 24px;
}

.questions__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.message {
  position: relative;
  width: 60%;
  font-family: "Overpass", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40.51px;
  border-radius: 20px;
  background-color: var(--accent-color);
  margin-bottom: 40px;
  padding: 25px 20px;
  color: #fff;
}

.message::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -5px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--accent-color);
  transform: rotate(-80deg);
}

.message_r {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.58px;
  margin-left: auto;
  background-color: var(--accent-light-color);
}

.message_r::after {
  left: unset;
  right: -5px;
  border-top: 15px solid var(--accent-light-color);
  transform: rotate(80deg);
}

.footer .logo {
  align-self: flex-start;
}

.footer .footer__link {
  color: var(--font-color);
  text-decoration: none;
  margin: 0 36px;
}

.footer .footer__link::after {
  content: "";
  position: relative;
  top: 5px;
  left: 35px;
  display: inline-block;
  width: 0px;
  border: 1px solid var(--font-color);
  height: 24px;
  pointer-events: none;
  user-select: none;
}

.footer .footer__link:last-child:after {
  display: none;
}

.footer .footer__hrefs {
  height: 24px;
}

.footer .footer__hrefs a {
  display: inline-block;
  width: 24px;
  height: auto;
}

.footer .footer__hrefs a img {
  width: 100%;
}

.footer .footer__hrefs a:first-child {
  margin-right: 24px;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass-Black"), local("Overpass-Black"),
    url("../assets/fonts/Overpass-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass-ExtraBold"), local("Overpass-ExtraBold"),
    url("../assets/fonts/Overpass-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass-Bold"), local("Overpass-Bold"),
    url("../assets/fonts/Overpass-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu-Regular"), local("Ubuntu-Regular"),
    url("../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
